{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1 style="text-align: center"> {{ search | title }} </h1>
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://img2.akspic.ru/image/44469-starovozrastnye_lesa-tropicheskij_les-lesistaya_mestnost-ekosistema-prirodnyj_zapovednik-7680x4320.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>TEST</p>
            </div>
            <div class="card-action">
                <a href="/">TEST price</a>
            </div>
        </div>
        </div>

    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://img2.akspic.ru/image/98003-lesistaya_mestnost-hvojnymi_lesami-roshha-priroda-zakat-7680x4320.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>TEST</p>
            </div>
            <div class="card-action">
                <a href="/">TEST price</a>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://img1.akspic.ru/image/87509-orientir-nebo-trek-priroda-gonkong-7680x4320.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>TEST</p>
            </div>
            <div class="card-action">
                <a href="/">TEST price</a>
            </div>
        </div>
    </div>   
</div>
{% endblock content %}